:root {
  --gradient-red: linear-gradient(
    45deg,
    #F23A29,
    #F2522E,
    #F26835
  );
  --gradient-green: linear-gradient(
    45deg,
    #e0e700,
    #D5D966
  );
  font-family: 'Open Sans', sans-serif;
}

.showborder {
  border-width: 1px;
}

body {
  margin: 0px;
  background-color: #F26835
}

.bg-gradient {
 background-image: var(--gradient-red);
 background-size: 400%;
 background-position: right;
 transition: 2s;
}

.bg-gradient:hover,
.bg-gradient:focus {
  background-position: left;
}