.navbar-container {
	display: flex;
	background-color: chartreuse;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
}

.login-button {
	border-width: 0px;
	height: 100%;
	font-size: large;
	font-weight: 700;
}
.logo {
	align-items: center;
	display: flex;
	gap: 1rem;
	font-size: x-large;
	font-weight: 700;
	color: #e0e700;
    height: 100%;
}
.log {
	color: #e0e700;
	cursor: pointer;
}

.nav-item {
	align-items: center;
	display: flex;
	gap: 1rem;
	font-size: large;
	font-weight: 700;
	color: white;
}
