.listing-container {
	display: flex;
	background-color: white;
	align-items: center;
	margin-bottom: 1rem;
}

.listing-title {
	flex-grow: 1;
	color: #596672;
	padding: 0.8rem;
	font-size: large;
	font-weight: 700;
}

.loading {
	background-image: var(--gradient-green);
	padding: 1rem;
	color: white;
	font-size: large;
	font-weight: 700;
	width: 100%;
}

.listing-button {
	background-image: var(--gradient-green);
	border-width: 0px;
	padding: 1rem;
	width: 3rem;
	height: 100%;
	color: white;
	font-size: large;
	font-weight: 700;
	cursor: pointer;
}

.listing-header {
	border: 1px solid #fff;
	margin-bottom: 1rem;
	color: white;
	padding: 1rem;
	font-size: large;
	font-weight: 700;
}
