@import url('../index.css');

.searchbar-container {
	display: flex;
	padding: 1rem;

}
.searchbar-input {
	flex-grow: 1;
	color: #596672;
	font-size: large;
	font-weight: 700;
	border-width: 0px;
	padding: 1rem;
}
.searchbar-input:focus {
    outline: none;
}
.searchbar-button {
	padding: 1rem;
	background-image: var(--gradient-green);
	border-width: 0px;
	color: white;
	height: 100%;
	font-size: large;
	font-weight: 700;
}
